<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mh_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mh_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AviatorMysticalHero"
        tools:targetApi="31">
        <activity
            android:name=".MhActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            tools:ignore="DiscouragedApi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>